<p id="notice"><%= notice %></p>

<h1>What's your tweet today</h1>
<div data-controller="filters">

  <div class="my-3">
    <a href="#" class="btn btn-info" data-action="click->filters#feature_filter">Featured</a>
    <a href="#" class="btn btn-info" data-action="click->filters#all_filter">Show all</a>
  </div>


  <div class="tweet-container" data-filters-target="tweetlist">
    <%= render @tweets %> <!-- render collections -->
  </div>

  <%= render "form", tweet: @tweet %> <!-- render collections -->

</div>

